.bg1 {
  background: linear-gradient(120deg, #1b4ef7, #b424fc);
}
.underline {
  height: 5px;
  align-self: center;
  border-radius: 25px;
}
.text-justify {
  text-align: justify;
}
.imgback {
  width: 100%;
  border-radius: 1rem;
}
.service-item:hover {
  background: #bad6ff;
}
